html { font-family: sans-serif; }


div.document
{
	width: 80%;
	margin-left: auto; margin-right: auto;
}


h1 { font-size: 1.4em }
h2 { font-size: 1.3em }
h3 { font-size: 1.2em }
h4 { font-size: 1.1em }
h5 { font-size: 1.0em }
h6 { font-size: 0.9em }


a:link, a:visited
{
	color: #9e8100;
	text-decoration: none;
}

a:hover
{
	color: #a40000;
	text-decoration: underline;
}


div#contents
{
	width: 30%; float: left;
	margin-bottom: 10px; margin-right: 20px;
	padding-top: 10px; padding-bottom: 10px;
	padding-left: 1em;
	background-color: #eeeeef;
	font-size: 10pt;
	position: static;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	overflow: hidden;
}


div#contents ul
{
	list-style-type: none;
	margin-left: -26pt;
	list-style-type: none;
	list-style-position: outside;
	margin-bottom: 1em; margin-left: 0;
	padding-left: 10px;
}
